<html>
<head>
    <title>Style Transfer</title>

    <link href="{{url_for('static', filename ='css/demo.css')}}" rel="stylesheet" type="text/css" />
    <script src="{{url_for('static', filename = 'js/demo.js')}}"></script>

    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename ='css/frame.css')}}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename ='css/controls.css')}}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename ='css/frame.css')}}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename ='css/custom.css')}}" media="screen" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" rel="stylesheet">
   
    
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="{{url_for('static', filename = 'js/bootstrap.js')}}"></script>
</head>

<body>
    <div class="menu-container">
        {% include "menu.html" %}
    </div>

    <section class="Grid">
      <h2>Styles Provided with CycleGAN in create1</h2>
      <hr>
        <div class="Grid-row"><a class="Card" onClick="openGallery(1)" id="card-1">
            <div class="Card-thumb">
              <div class="Card-shadow"></div>
              <div class="Card-shadow"></div>
              <div class="Card-shadow"></div>
              <div class="Card-image" style="background-image: url(static/pics/vangogh.jpg)"></div>
            </div>
            <div class="Card-title"><span>Vincent van Gogh's Collection</span></div>
            <div class="Card-explore"><span>Explore sample works</span></div>
            <button class="Card-button">view more</button></a><a class="Card" onClick="openGallery(2)" id="card-2">
            <div class="Card-thumb">
              <div class="Card-shadow"></div>
              <div class="Card-shadow"></div>
              <div class="Card-shadow"></div>
              <div class="Card-image" style="background-image: url(static/pics/monet.jpg)"></div>
            </div>
            <div class="Card-title"><span>Claude Monet's Collection</span></div>
            <div class="Card-explore"><span>Explore sample works</span></div>
            <button class="Card-button">view more</button></a><a class="Card" onClick="openGallery(3)" id="card-3">
            <div class="Card-thumb">
              <div class="Card-shadow"></div>
              <div class="Card-shadow"></div>
              <div class="Card-shadow"></div>
              <div class="Card-image" style="background-image: url(static/pics/chinese.jpg)"></div>
            </div>
            <div class="Card-title"><span>Chinese Ink's Collection</span></div>
            <div class="Card-explore"><span>Explore sample works</span></div>
            <button class="Card-button">view more</button></a>
        </div>
        <div class="Grid-row"><a class="Card" onClick="openGallery(4)" id="card-4">
            <div class="Card-thumb">
              <div class="Card-shadow"></div>
              <div class="Card-shadow"></div>
              <div class="Card-shadow"></div>
              <div class="Card-image" style="background-image: url(static/pics/afremov.jpg)"></div>
            </div>
            <div class="Card-title"><span>Leonid Afremov's Collection</span></div>
            <div class="Card-explore"><span>Explore sample works</span></div>
            <button class="Card-button">view more</button></a><a class="Card" onClick="openGallery(5)" id="card-5">
            <div class="Card-thumb">
              <div class="Card-shadow"></div>
              <div class="Card-shadow"></div>
              <div class="Card-shadow"></div>
              <div class="Card-image" style="background-image: url(static/pics/ukiyoe.jpg)"></div>
            </div>
            <div class="Card-title"><span>Ukiyoe's Collection</span></div>
            <div class="Card-explore"><span>Explore sample works</span></div>
            <button class="Card-button">view more</button></a><a class="Card" onClick="openGallery(6)" id="card-6">
            <div class="Card-thumb">
              <div class="Card-shadow"></div>
              <div class="Card-shadow"></div>
              <div class="Card-shadow"></div>
              <div class="Card-image" style="background-image: url(static/pics/edgar.jpg)"></div>
            </div>
            <div class="Card-title"><span>Edgar Degas's Collection</span></div>
            <div class="Card-explore"><span>Explore sample works</span></div>
            <button class="Card-button">view more</button></a>
        </div>
        <div class="Grid-row"><a class="Card" onClick="openGallery(7)" id="card-7">
            <div class="Card-thumb">
              <div class="Card-shadow"></div>
              <div class="Card-shadow"></div>
              <div class="Card-shadow"></div>
              <div class="Card-image" style="background-image: url(static/pics/abstract.jpg)"></div>
            </div>
            <div class="Card-title"><span>Abstract's Collection</span></div>
            <div class="Card-explore"><span>Explore sample works</span></div>
            <button class="Card-button">view more</button></a><a class="Card" onClick="openGallery(8)" id="card-8">
            <div class="Card-thumb">
              <div class="Card-shadow"></div>
              <div class="Card-shadow"></div>
              <div class="Card-shadow"></div>
              <div class="Card-image" style="background-image: url(static/pics/albrecht.jpg)"></div>
            </div>
            <div class="Card-title"><span>Albrecht Dürer's Collection</span></div>
            <div class="Card-explore"><span>Explore sample works</span></div>
            <button class="Card-button">view more</button></a><a class="Card" onClick="openGallery(9)" id="card-9">
            <div class="Card-thumb">
              <div class="Card-shadow"></div>
              <div class="Card-shadow"></div>
              <div class="Card-shadow"></div>
              <div class="Card-image" style="background-image: url(static/pics/cezanne.jpg)"></div>
            </div>
            <div class="Card-title"><span>Paul Cézanne's Collection</span></div>
            <div class="Card-explore"><span>Explore sample works</span></div>
            <button class="Card-button">view more</button></a>
        </div>
      </section>
      <section class="Gallery" id="gallery-1">
        <div class="Gallery-header"><a class="Gallery-close" onclick="closeAll()">×</a></div>
        <div class="Gallery-images">
          <div class="Gallery-left">
            <div class="Gallery-image" style="background-image: url(static/pics/gallery/vangogh/1.jpg)"></div>
            <div class="Gallery-image" style="background-image: url(static/pics/gallery/vangogh/2.jpg)"></div>
          </div>
          <div class="Gallery-image Gallery-image--primary" style="background-image: url(static/pics/vangogh2.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/vangogh/3.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/vangogh/4.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/vangogh/5.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/vangogh/6.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/vangogh/7.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/vangogh/8.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/vangogh/9.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/vangogh/10.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/vangogh/11.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/vangogh/12.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/vangogh/13.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/vangogh/14.jpg)"></div>
        </div>
      </section>
      <section class="Gallery" id="gallery-2">
        <div class="Gallery-header"><a class="Gallery-close" onclick="closeAll()">×</a></div>
        <div class="Gallery-images">
          <div class="Gallery-left">
            <div class="Gallery-image" style="background-image: url(static/pics/gallery/monet/1.jpg)"></div>
            <div class="Gallery-image" style="background-image: url(static/pics/gallery/monet/2.jpg)"></div>
          </div>
          <div class="Gallery-image Gallery-image--primary" style="background-image: url(static/pics/monet2.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/monet/3.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/monet/4.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/monet/5.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/monet/6.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/monet/7.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/monet/8.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/monet/9.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/monet/10.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/monet/11.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/monet/12.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/monet/13.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/monet/14.jpg)"></div>
        </div>
      </section>
      <section class="Gallery" id="gallery-3">
        <div class="Gallery-header"><a class="Gallery-close" onclick="closeAll()">×</a></div>
        <div class="Gallery-images">
          <div class="Gallery-left">
            <div class="Gallery-image" style="background-image: url(static/pics/gallery/chinese/1.jpg)"></div>
            <div class="Gallery-image" style="background-image: url(static/pics/gallery/chinese/2.jpg)"></div>
          </div>
          <div class="Gallery-image Gallery-image--primary" style="background-image: url(static/pics/chinese2.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/chinese/3.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/chinese/4.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/chinese/5.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/chinese/6.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/chinese/7.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/chinese/8.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/chinese/9.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/chinese/10.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/chinese/11.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/chinese/12.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/chinese/13.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/chinese/14.jpg)"></div>
        </div>
      </section>
      <section class="Gallery" id="gallery-4">
        <div class="Gallery-header"><a class="Gallery-close" onclick="closeAll()">×</a></div>
        <div class="Gallery-images">
          <div class="Gallery-left">
            <div class="Gallery-image" style="background-image: url(static/pics/gallery/afremov/1.jpg)"></div>
            <div class="Gallery-image" style="background-image: url(static/pics/gallery/afremov/2.jpg)"></div>
          </div>
          <div class="Gallery-image Gallery-image--primary" style="background-image: url(static/pics/afremov1.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/afremov/3.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/afremov/4.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/afremov/5.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/afremov/6.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/afremov/7.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/afremov/8.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/afremov/9.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/afremov/10.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/afremov/11.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/afremov/12.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/afremov/13.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/afremov/14.jpg)"></div>
        </div>
      </section>
      <section class="Gallery" id="gallery-5">
        <div class="Gallery-header"><a class="Gallery-close" onclick="closeAll()">×</a></div>
        <div class="Gallery-images">
          <div class="Gallery-left">
            <div class="Gallery-image" style="background-image: url(static/pics/gallery/ukiyoe/1.jpg)"></div>
            <div class="Gallery-image" style="background-image: url(static/pics/gallery/ukiyoe/2.jpg)"></div>
          </div>
          <div class="Gallery-image Gallery-image--primary" style="background-image: url(static/pics/ukiyoe1.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/ukiyoe/4.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/ukiyoe/5.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/ukiyoe/6.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/ukiyoe/7.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/ukiyoe/8.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/ukiyoe/9.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/ukiyoe/3.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/ukiyoe/10.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/ukiyoe/11.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/ukiyoe/12.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/ukiyoe/13.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/ukiyoe/14.jpg)"></div>
        </div>
      </section>
      <section class="Gallery" id="gallery-6">
        <div class="Gallery-header"><a class="Gallery-close" onclick="closeAll()">×</a></div>
        <div class="Gallery-images">
          <div class="Gallery-left">
            <div class="Gallery-image" style="background-image: url(static/pics/gallery/edgar/1.png)"></div>
            <div class="Gallery-image" style="background-image: url(static/pics/gallery/edgar/2.png)"></div>
          </div>
          <div class="Gallery-image Gallery-image--primary" style="background-image: url(static/pics/edgar1.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/edgar/3.png)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/edgar/4.png)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/edgar/5.png)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/edgar/6.png)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/edgar/7.png)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/edgar/8.png)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/edgar/9.png)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/edgar/10.png)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/edgar/11.png)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/edgar/12.png)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/edgar/13.png)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/edgar/14.png)"></div>
        </div>
      </section>
      <section class="Gallery" id="gallery-7">
        <div class="Gallery-header"><a class="Gallery-close" onclick="closeAll()">×</a></div>
        <div class="Gallery-images">
          <div class="Gallery-left">
            <div class="Gallery-image" style="background-image: url(static/pics/gallery/abstract/1.jpg)"></div>
            <div class="Gallery-image" style="background-image: url(static/pics/gallery/abstract/2.jpg)"></div>
          </div>
          <div class="Gallery-image Gallery-image--primary" style="background-image: url(static/pics/abstract1.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/abstract/4.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/abstract/5.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/abstract/3.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/abstract/6.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/abstract/7.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/abstract/8.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/abstract/9.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/abstract/10.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/abstract/11.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/abstract/12.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/abstract/13.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/abstract/14.jpg)"></div>
        </div>
      </section>
      <section class="Gallery" id="gallery-8">
        <div class="Gallery-header"><a class="Gallery-close" onclick="closeAll()">×</a></div>
        <div class="Gallery-images">
          <div class="Gallery-left">
            <div class="Gallery-image" style="background-image: url(static/pics/gallery/albrecht/1.jpg)"></div>
            <div class="Gallery-image" style="background-image: url(static/pics/gallery/albrecht/2.jpg)"></div>
          </div>
          <div class="Gallery-image Gallery-image--primary" style="background-image: url(static/pics/albrecht1.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/albrecht/3.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/albrecht/4.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/albrecht/5.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/albrecht/6.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/albrecht/7.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/albrecht/8.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/albrecht/9.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/albrecht/10.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/albrecht/11.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/albrecht/12.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/albrecht/13.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/albrecht/14.jpg)"></div>
        </div>
      </section>
      <section class="Gallery" id="gallery-9">
        <div class="Gallery-header"><a class="Gallery-close" onclick="closeAll()">×</a></div>
        <div class="Gallery-images">
          <div class="Gallery-left">
            <div class="Gallery-image" style="background-image: url(static/pics/gallery/cezanne/1.jpg)"></div>
            <div class="Gallery-image" style="background-image: url(static/pics/gallery/cezanne/2.jpg)"></div>
          </div>
          <div class="Gallery-image Gallery-image--primary" style="background-image: url(static/pics/cezanne1.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/cezanne/3.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/cezanne/4.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/cezanne/5.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/cezanne/6.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/cezanne/7.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/cezanne/8.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/cezanne/9.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/cezanne/10.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/cezanne/11.jpg)"></div>
        </div>
        <div class="Gallery-images">
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/cezanne/12.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/cezanne/13.jpg)"></div>
          <div class="Gallery-image" style="background-image: url(static/pics/gallery/cezanne/14.jpg)"></div>
        </div>
      </section>
</body>
</html>