<html>
<head>
    <title>Style Transfer</title>

    <link href="{{url_for('static', filename ='css/demo2.css')}}" rel="stylesheet" type="text/css" />

</head>

<body>

<div class="container">
    <header class="main-header clearfix">
        <img class="logo" src="http://gdurl.com/78rD">
        <h1 class="name">3DTransform <span>Gallery</span></h1>
    </header>

    <div class="content clearfix">

        <div class="cube-container">
            <div class="photo-cube">

                <img class="front"src="http://gdurl.com/PdNJ" alt="">
                <div class="back photo-desc">
                  <h3>Earth from Space</h3>
                  <p>Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                    <a href="#" class="button">download</a>
                </div>
                <img class="left" src="http://gdurl.com/zDJz" alt="">
                <img class="right" src="http://gdurl.com/JLdx" alt="">

            </div>
        </div>	

        <div class="cube-container">
            <div class="photo-cube">

                <img class="front" src="http://gdurl.com/oxTp" alt="">
                <div class="back photo-desc">
                  <h3>Space Images</h3>
                  <p>Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                    <a href="#" class="button">download</a>
                </div>
                <img class="left" src="http://gdurl.com/A2BF" alt="">
                <img class="right" src="http://gdurl.com/wt4v" alt="">

            </div>
        </div>
        
        <div class="cube-container">
            <div class="photo-cube">

                <img class="front" src="http://gdurl.com/oxTp" alt="">
                <div class="back photo-desc">
                  <h3>Space Images</h3>
                  <p>Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                    <a href="#" class="button">download</a>
                </div>
                <img class="left" src="http://gdurl.com/A2BF" alt="">
                <img class="right" src="http://gdurl.com/wt4v" alt="">

            </div>
        </div>

        <div class="cube-container">
            <div class="photo-cube">

                <img class="front" src="http://gdurl.com/oxTp" alt="">
                <div class="back photo-desc">
                  <h3>Space Images</h3>
                  <p>Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                    <a href="#" class="button">download</a>
                </div>
                <img class="left" src="http://gdurl.com/A2BF" alt="">
                <img class="right" src="http://gdurl.com/wt4v" alt="">

            </div>
        </div>

        <div class="cube-container">
            <div class="photo-cube">

                <img class="front" src="http://gdurl.com/oxTp" alt="">
                <div class="back photo-desc">
                  <h3>Space Images</h3>
                  <p>Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                    <a href="#" class="button">download</a>
                </div>
                <img class="left" src="http://gdurl.com/A2BF" alt="">
                <img class="right" src="http://gdurl.com/wt4v" alt="">

            </div>
        </div>

        <div class="cube-container">
            <div class="photo-cube">

                <img class="front" src="http://gdurl.com/oxTp" alt="">
                <div class="back photo-desc">
                  <h3>Space Images</h3>
                  <p>Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                    <a href="#" class="button">download</a>
                </div>
                <img class="left" src="http://gdurl.com/A2BF" alt="">
                <img class="right" src="http://gdurl.com/wt4v" alt="">

            </div>
        </div>

        <div class="cube-container">
            <div class="photo-cube">

                <img class="front" src="http://gdurl.com/oxTp" alt="">
                <div class="back photo-desc">
                  <h3>Space Images</h3>
                  <p>Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                    <a href="#" class="button">download</a>
                </div>
                <img class="left" src="http://gdurl.com/A2BF" alt="">
                <img class="right" src="http://gdurl.com/wt4v" alt="">

            </div>
        </div>

        <div class="cube-container">
            <div class="photo-cube">

                <img class="front" src="http://gdurl.com/oxTp" alt="">
                <div class="back photo-desc">
                  <h3>Space Images</h3>
                  <p>Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                    <a href="#" class="button">download</a>
                </div>
                <img class="left" src="http://gdurl.com/A2BF" alt="">
                <img class="right" src="http://gdurl.com/wt4v" alt="">

            </div>
        </div>

        <div class="cube-container">
            <div class="photo-cube">

                <img class="front" src="http://gdurl.com/tvtR" alt="">
                <div class="back photo-desc">
                  <h3>The Milky Way</h3>
                  <p>Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                    <a href="#" class="button">download</a>
                </div>
                <img class="left" src="http://gdurl.com/tvtR" alt="">
                <img class="right" src="http://gdurl.com/VjHH" alt="">

            </div>
        </div>	

    </div>
</div>

</body>

</html>