<!doctype html>
<html>

	<head>
		<title>Style Transfer</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css?family=Pacifico|Tajawal" rel="stylesheet">
		<link href="{{url_for('static', filename ='css/homepage.css')}}" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="{{url_for('static', filename ='css/main.css')}}" />
		<!-- <link rel="stylesheet" type="text/css" href="style.css"> -->


		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
		<!-- <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" media="screen" rel="stylesheet" type="text/css" /> -->

		<!-- <link href="{{url_for('static', filename ='css/frame.css')}}" media="screen" rel="stylesheet" type="text/css" /> -->
		<!-- <link href="{{url_for('static', filename ='css/controls.css')}}" media="screen" rel="stylesheet" type="text/css" /> -->
		<link href="{{url_for('static', filename ='css/frame_home.css')}}" media="screen" rel="stylesheet" type="text/css" />
		<!-- <link href="{{url_for('static', filename ='css/custom.css')}}" media="screen" rel="stylesheet" type="text/css" /> -->
		<!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'> -->
		<!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'> -->
		<!-- <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet"> -->
		<!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->

		<link href = "{{url_for('static', filename = 'css/bootstrap.css')}}" media="screen" rel="stylesheet" type="text/css" />

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="{{url_for('static', filename = 'js/bootstrap.js')}}"></script>

		<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>




	</head>

	<body>
		<div class="menu-container">
			{% include "menu.html" %}
		</div>

		<header class="v-header container">

			<div class="fullscreen-video-wrap">
				<video autoplay muted loop>
				    <source src="{{url_for('static', filename ='img/vangogh.mp4')}}" type="video/mp4">
			    </video>
			</div>
		<div class="header-overlay"></div>
			<div class="header-content">
				<div class="flex-item flex-column"></div>

				<h1>
					Style Transfer
				</h1>
				<p>
					By using the Neural Style Transfer technique provided on this website, everyone can create their
                    own masterpieces in just a few seconds without special skills requirements. And this is totally free
                    of charge. So, feel free to play around with all of the functionalities and enjoy yourselves.
				</p>
				<!-- <a href="{{url_for('gallery')}}" class="btn">Explore</a> -->
				<div class="box">
					<a href="{{url_for('intro')}}" class="btn btn-white btn-animation-1">Learn More</a>
				</div>
			</div>
		</header>

	<div>

	</div>

	<!-- Main -->
	<div id="main">

		<!-- Section -->
			<section class="wrapper style1">
				<div class="inner">
					<!-- 2 Columns -->
						<div class="flex flex-2">
							<div class="col col1">
								<div class="image round fit">
									<a href="generic.html" class="link"><img src="static/img/pic01.jpg" alt="" /></a>
								</div>
							</div>
							<div class="col col2">
								<h3>Why Style Transfer</h3>
								<p>

									How can the never-ceased pursuit of artistry and beauty survive the era of computer?
								</p>
								<p>
									How can the innumerable masterpieces of artwork born in history gain their new life in this century?
								</p>
								<p>
									How can people with zero knowledge of art realize the image from their minds with a click of their mouse?
								</p>
								<p>
									Now, with the development of deep learning, Neural Style Transfer (NST) makes it possible
									for everyone to generate their unique artworks like a master artist on their computer!
								</p>
								<a href="{{url_for('intro')}}" class="button">Learn More</a>
							</div>
						</div>
				</div>
			</section>

		<!-- Section -->
			<section class="wrapper style2">
				<div class="inner">
					<div class="flex flex-2">
						<div class="col col2">
							<h3>What you can do</h3>
							<p>On this website, you can explore the magic of Neural Style Transfer, view and generate your own artworks</p>
							<p>You can either transfer your images with some pre-defined artistic styles such as the style of Van Gogh, Monet, Japanese ukiyoe, or transfer your images to arbitrary styles of your choice!</p>
							<p>Before you try it yourself, take a look at our gallery to get some inspirations! For detailed instructions, please click the button below!</p>
							<a href="{{url_for('gallery')}}" class="button">Learn More</a>
						</div>
						<div class="col col1 first">
							<div class="image round fit">
								<a href="generic.html" class="link"><img src="static/img/pic02.jpg" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Section -->
			<section class="wrapper style1">
				<div class="inner">
					<header class="align-center">
						<h2>Explore multiple features</h2>
						<p>Try the following features to customize your style transfer</p>
					</header>
					<div class="flex flex-3">
						<div class="col align-center">
							<div class="image round fit">
								<img src="static/img/pic03.png" alt="" />
							</div>
							<p>Users can either choose to use our provided styles of famous artists or upload their own styles images</p>
							<a href="{{url_for('upload')}}" class="button">Learn More</a>
						</div>
						<div class="col align-center">
							<div class="image round fit">
								<img src="static/img/pic05.jpg" alt="" />
							</div>
							<p>Users can customize the extent to which they want to transfer to a specific style by dragging to adjust the track-bar </p>
							<a href="{{url_for('upload2')}}" class="button">Learn More</a>
						</div>
						<div class="col align-center">
							<div class="image round fit">
								<img src="static/img/pic04.jpg" alt="" />
							</div>
							<p>Color preservation is enabled, by which users can decide whether or not to preserve the color of the content image.   </p>
							<a href="{{url_for('upload2')}}" class="button">Learn More</a>
						</div>
					</div>
				</div>
			</section>

	</div>






	</body>
</html>
