<style>
    .menu-overview {
    color: rgb(255, 255, 255) !important;
    opacity: 1 !important;
    font-weight: 500 !important;
    }
</style>
<style>
.menu-gellary {
  color: rgb(255, 255, 255) !important;
  opacity: 1 !important;
  font-weight: 500 !important;
}
</style>
<style>
.menu-upload {
    color: rgb(255, 255, 255) !important;
    opacity: 1 !important;
    font-weight: 500 !important;

}
</style>
<div class="menu">
  <div class="menu-table flex-row-space-between">
      <div class="logo flex-row-center">
          <a href="{{url_for('empty')}}">Style Transfer</a>
      </div>
      <a class="menu-button" tabindex="0" href="javascript:void(0)">
      <img src="{{url_for('static', filename = 'img/menu.png')}}">
      </a>
      <div class="menu-items flex-row-center flex-item">
          <a href="{{url_for('empty')}}" class="menu-overview">Overview</a>
          <a href="{{url_for('gallery')}}" class="menu-gellary">Gallery</a>
          <a href="{{url_for('upload')}}" class="menu-upload">Create1</a>
          <a href="{{url_for('upload2')}}" class="menu-upload">Create2</a>
          <a href="{{url_for('upload3')}}" class="menu-upload">Create3</a>


          <a href="https://github.com/qcaoab/FYPST">GitHub</a>
      </div>
  </div>
</div>
