<!doctype html>
<html>

<head>
    <title>Style Transfer</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename ='css/frame.css')}}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename ='css/controls.css')}}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename ='css/frame.css')}}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename ='css/custom.css')}}" media="screen" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{url_for('static', filename = 'js/menu.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/widgets.js')}}"></script>
    
    <script src="{{url_for('static', filename = 'js/style.js')}}"></script>
    
</head>

<body>
    <div class="menu-container">
        {% include "menu.html" %}
    </div>
    <div class="flex-row">
        <div class="flex-item flex-column">
            <h2 class="add-top-margin">
                
                The Style of <span style="font-style: italic !important;">{{genre}}</span>
           
                   
            </h2>
            <hr>
            <p class="text">
                Here are some paired before & after examples below with the style of {{genre}} 
            </p>
        </div>
    </div>
    <div class="gallery">
        <script type="text/javascript">
            var genre = '{{ genre }}'
            var $gallery = $(".gallery");
            for (var i = 1; i < 9; i++) {
                var type = 'B'
                var num = parseInt((i+1)/2)
                if (i%2 ==1){
                    type = 'A'
                }
                var folder = "/static/pics/gallery/"
                var id = genre +'/' + num + type
                var name = folder + id + ".png"
                var item = "<a href=\"javascript:void(0)\" class=\"flex-column\">" +
                    "<img src=" + name +">"
                    "<div>"+ id + "</div>" +
                    "</a>";
                $gallery.append($(item));
                }
            
        </script>
        
        
        
          
    </div>

</body>
</html>