<!doctype html>
<html>

<head>
    <title>Style Transfer</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename ='css/frame.css')}}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename ='css/controls.css')}}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename ='css/frame.css')}}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename ='css/custom.css')}}" media="screen" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{url_for('static', filename = 'js/menu.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/widgets.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/custom.js')}}"></script>
    
  
    
</head>

<body>
    <div class="menu-container">
        {% include "menu.html" %}
    </div>

    <div class="content-container">
        <div class="content">
            <div class="content-table flex-column"></div>
               
                <!------------------------------------------------------------------------------------->
                <div class="flex-row">
                    <div class="flex-item flex-column">
                        <h2 class="add-top-margin">Transfer to your own uploaded style</h2>
                        <hr>
                        <p class="text">
                            Please upload the photo or image whose style is to be transferred below:
                        </p>
                        <form method="Post" action="/upload2" enctype="multipart/form-data">
                            
                        <div class="custom-file">
                            <input type="file" accept="image/*" onchange="loadFile(event)" name="file1"/>
                            
                            <img id = "imgInp1"  width="200px" height="200px"/>
                            <script>
                                var loadFile = function(event) {
                                    var imgInp1 = document.getElementById('imgInp1');
                                    imgInp1.src = URL.createObjectURL(event.target.files[0]);
                                    imgInp1.onload = function() {
                                    URL.revokeObjectURL(imgInp1.src) // free memory
                                    }
                                };
                            </script>
                        </div>
        
                           
                        </form>

                        <p class="text">
                            Please upload the your own style image below:
                        </p>

                        <form method="post" action="/upload2" enctype="multipart/form-data">

                            <div class="custom-file">
                                <input type="file" accept="image/*" onchange="loadFile2(event)" name="file2"/>
                                
                                <img id = "imgInp2"  width="200px" height="200px"/>
                                <script>
                                    var loadFile2 = function(event) {
                                        var imgInp2 = document.getElementById('imgInp2');
                                        imgInp2.src = URL.createObjectURL(event.target.files[0]);
                                        imgInp2.onload = function() {
                                        URL.revokeObjectURL(imgInp2.src) // free memory
                                        }
                                    };
                                </script>
                            </div>
                            <p>
                                <input type="submit" value="Submit 2 pictures">
                            </p>
                        </form>
                        <p class="text">
                            Please select the level of preservation (0-100%)
                        </p>
                        <div class="slidecontainer">
                            <input type="range" min="0" max="100" value="50" class="slider" id="myRange" >
                            <p>Value: <span id="demo"></span></p>
                        </div>
                        <script>
                           
                            var slider = document.getElementById("myRange");
                            var output = document.getElementById("demo");
                            output.innerHTML = slider.value; // Display the default slider value

                            // Update the current slider value (each time you drag the slider handle)
                            slider.oninput = function() {
                            output.innerHTML = this.value;

                            }
                        </script>

                    </div>
                </div>
                <!-------------------------------------------------------------------------------------------->
                <div class="flex-row">
                    <div class="flex-item flex-column">
                        <h2 class="add-top-margin">Level of Preservation</h2>
                        <hr>
                        <p class="text">
                            
                        </p>
                        <div class="control-group">
                            <div class="custom-radio custom-radio-left">
                                <input type="radio" name="playback-speed" value="slow" id="speed-slow">
                                <label for="speed-slow">Slow</label>
                            </div>
                            <div class="custom-radio custom-radio-middle">
                                <input type="radio" name="playback-speed" value="medium" id="speed-medium" checked>
                                <label for="speed-medium">Medium</label>
                            </div>
                            <div class="custom-radio custom-radio-right">
                                <input type="radio" name="playback-speed" value="fast" id="speed-fast">
                                <label for="speed-fast">Fast</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-------------------------------------------------------------------------------------------->
                <div class="flex-row">
                    <div class="flex-item flex-column">
                        <h2 class="add-top-margin">Dialog Button and Box</h2>
                        <hr>
                        <p class="text">
                            
                        </p>
                        <div class="control-group">
                            <button id="dialog-btn-1" class="custom-button-flat"><img src="{{url_for('static', filename = 'img/setting.png')}}"><span>Dialog 1</span></button>
                            <button id="dialog-btn-2" class="custom-button-flat"><img src="{{url_for('static', filename = 'img/setting.png')}}"><span>Dialog 2</span></button>
                            <button id="dialog-btn-3" class="custom-button-flat"><img src="{{url_for('static', filename = 'img/setting.png')}}"><span>Dialog 3</span></button>
                            <button id="dialog-btn-4" class="custom-button-flat"><img src="{{url_for('static', filename = 'img/setting.png')}}"><span>Dialog 4</span></button>
                            <button id="share-btn" title="Share" class="custom-button-flat"><img src="{{url_for('static', filename = 'img/setting.png')}}"><span>Share</span></button>
                        </div>
                        <div id="dialog-1" title="Dialog 1" data-role="none">
                            <p>No action, attached and centered to the window, full-width button.</p>
                        </div>
                        <div id="dialog-2" title="Dialog 2" data-role="none">
                            <p>With action, attached and centered to the window.</p>
                        </div>
                        <div id="dialog-3" title="Dialog 3" data-role="none">
                            <p>No action and cancel buttons, attached and centered to the content element.</p>
                        </div>
                        <div id="dialog-4" title="Dialog 4" data-role="none">
                            <p>With action, attached and centered to the window, reversed button positions.</p>
                        </div>
                        <div id="share-dialog" title="Share" data-role="none">
                            <p>Copy the following link and share it with others:</p>
                            <input id="share-url" class="custom-textbox" type="text" autofocus="autofocus" value="https://yenchiah.github.io/project-website-template/" readonly>
                            <p id="share-url-copy-prompt">The share link is copied.</p>
                        </div>
                    </div>
                    
                </div>
                <!-------------------------------------------------------------------------------------------->


                   
            </div>
        </div>
    </div>
</body>
</html>
