<!doctype html>
<html>

<head>
    <title>Style Transfer</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename ='css/frame.css')}}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename ='css/controls.css')}}" media="screen" rel="stylesheet" type="text/css" />

    <link href="{{url_for('static', filename ='css/custom.css')}}" media="screen" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" rel="stylesheet">


    <link href = "{{url_for('static', filename = 'css/bootstrap.css')}}" media="screen" rel="stylesheet" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename = 'js/bootstrap.js')}}"></script>



</head>

<body>
    <div class="menu-container">
        {% include "menu.html" %}
    </div>

    <div class="content-container">
        <div class="content">
            <div class="content-table flex-column">

                    <div class="flex-item flex-column">
                        <h2 class="add-top-margin">How to use</h2>
                        <hr>

                        <p class="text">
                            You can upload your own style image and transfer your photo to that style by
                            following the instructions below:
                        </p>

                        <ul>
                          <li>
                            Click on the first grey “Choose File” button to open your file explorer,
                            and select your content image whose style is to be transferred from your local disks
                          </li>
                          <li>
                            Click on the second grey “Choose File” button to upload your style images
                            whose styles will be transferred to your content image (Note that you can
                            upload more than one style image and the resulting image will try to combine
                            all these styles together.)
                          </li>
                          <li>
                            Then slide through the slide bar to select the desired extent of stylization
                            (If the value is closer to 0, the image will be more similar to the original
                            one and vice versa.)
                          </li>
                          <li>
                            Next, indicate whether you want to preserve the color of the original content
                            image during the transfer process
                          </li>
                          <li>
                            Finally, click the “Submit” button to start the transfer process
                          </li>
                        </ul>
                    </div>
                </div>

                <!------------------------------------------------------------------------------------->
                <div class="flex-row">
                    <div class="flex-item flex-column">
                        <h2 class="add-top-margin">Transfer to your own uploaded style</h2>
                        <hr>
                        <p class="text">
                            Please upload the video to be transferred below:
                        </p>

                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                <div class="alert alert-{{ category }}" role="alert"> {{ message }}</div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        <form method="Post" action="/upload3" enctype="multipart/form-data">

                        <div class="custom-file">
                            <input type="file" accept="video/*" onchange="loadFile(event)" name="file1" />

                            <video id = "vidInp1"  width="150px" height="150px"></video>
                            <script>
                                var loadFile = function(event) {
                                    var vidInp1 = document.getElementById('vidInp1');
                                    vidInp1.src = URL.createObjectURL(event.target.files[0]);
                                    vidInp1.onload = function() {
                                    URL.revokeObjectURL(vidInp1.src) // free memory
                                    }
                                };
                            </script>
                        </div>


                        <p class="text">
                            Please upload the your own style image below:
                        </p>

                            <div class="custom-file">
                                <input type="file" accept="image/*" onchange="loadFile2(event)" name="file2"/>

                                <img id = "imgInp2"  width="150px" height="150px"/>
                                <script>
                                    var loadFile2 = function(event) {
                                        var imgInp2 = document.getElementById('imgInp2');
                                        imgInp2.src = URL.createObjectURL(event.target.files[0]);
                                        imgInp2.onload = function() {
                                        URL.revokeObjectURL(imgInp2.src)
                                        }
                                    };
                                </script>
                            </div>

                            <!----------------slider--------------------->


                            <p class="text">
                                Please select the degree of transfer (0-100%)
                            </p>
                            <div class="slidecontainer">
                                <input type="range"  min="0" max="100" value="100" class="slider" id="myRange" name = "degree" >
                                <p>Value: <span id="demo" ></span></p>
                            </div>

                            <script>

                                var slider = document.getElementById("myRange");
                                var output = document.getElementById("demo");
                                output.innerHTML = slider.value; // Display the default slider value

                                // Update the current slider value (each time you drag the slider handle)

                                slider.oninput = function() {
                                output.innerHTML = this.value;

                                }
                            </script>

                            <!---------------------color preservation?----------------->

                            <p class="text">
                                Do you want to preserve color?
                            </p>
                            <div class="control-group">
                                <div class="custom-radio custom-radio-left">
                                    <input type="radio" name="preserve" value=1 id="preserve-yes">
                                    <label for="preserve-yes">Yes</label>
                                </div>
                                <div class="custom-radio custom-radio-right">
                                    <input type="radio" name="preserve" value=0 id="preserve-no" checked>
                                    <label for="preserve-no">No</label>
                                </div>

                            </div>

                            <!-----------------------submit-------------------->

                            <p>
                                <input type="submit" value="Submit 2 files">
                            </p>
                        </form>
                    </div>

                </div>

                <div class="flex-row">
                  <div class="flex-item flex-column">
                      <h2 class="add-top-margin">Result of Transformation</h2>
                      <hr>
                      <div class="custom-file">
                          <video src="{{resultpath}}" id= "result" ></video>
                           <script type="text/javascript">

                              var resultsrc = "{{resultpath}}";
                              console.log(resultsrc)
                              if (resultsrc == ""){
                                  document.getElementById("result").src = "{{url_for('static', filename ='img/dummy.jpg')}}";
                              }
                              else{
                                  document.getElementById("result").src = resultsrc;
                              }
                          </script>
                      </div>
                  </div>
                </div>


                <!-------------------------------------------------------------------------------------------->


            </div>
        </div>
</body>
</html>
